{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Rate Courses</h1>
        <br/>
        <form action="" METHOD="POST">
        <br/><br/>
        <fieldset>
            <legend>
                Your Course Review:
            </legend>
            <div>
             <label for="hear-about">
                 Which Course do you want to review?
             </label>  
             <select name="course">
                {% for course in course_choices %}
                {{course}}
                    <option value="{{course[0]}}">{{course[1]}}</option>
                {% endfor %}
             </select>  
            </div>
            <div>
                Rate out of 5
                <br />
                <label>
                    <input type="radio" name="rating" value="1" />
                    1 
                </label>
                <label>
                    <input type="radio" name="rating" value="2" />
                    2
                </label>
                <label>
                    <input type="radio" name="rating" value="3" />
                    3
                </label>
                <label>
                    <input type="radio" name="rating" value="4" />
                    4 
                </label>
                <label>
                    <input type="radio" name="rating" value="5" />
                    5 
                </label>
            </div>
            
            <br />
            <input type="submit" name="submit" value="Submit review" />
           </fieldset>
   </form>
        {% for course in courses %} 
            <h4>
                {{ course.name }}
            </h4>
        {% endfor %}
    </div>
{% endblock content %}