{% extends "layout.html" %}
{% block content %}
    
</br>
<section class="d-flex justify-content-center cont-recipe">
    <p><h4>See More Courses in St George:</h4>
       <ul>
        <br> <li><a href="https://www.stgeorgeutahgolf.com/list-of-st-george-golf-courses//" target="_blank">St George Courses</a></li>
           

       </ul>
    </p>
</section>

<br>

    
<div class="container">
        <h1>Input Course</h1>
        <br/>
        <form action="/course" METHOD="POST"></form>
            <input type="text" placeholder=" Course Name" name="name">
            <input type="text" placeholder="Rating: 1-5" name="rating">
            <input type="submit" value="Submit Rating" class="btn btn-secondary">
        </form>
        <br/><br/>
        <br />
        <fieldset>
            <legend>
                Your Course Review:
            </legend>
            <p>
             <label for="hear-about">
                 Which Course do you want to review?
             </label>  
             <select name="course">
                 <option value="google">Green Springs</option>
                 <option value="friend">Sunbrook</option>
                 <option value="commercial">Sand Hollow</option>
                 <option value="other">Southgate</option>
             </select>  
            </p>
            <p>
                Rate out of 5
                <br />
                <label>
                    <input type="radio" name="rating" value="1" />
                    1 
                </label>
                <label>
                    <input type="radio" name="rating" value="2" />
                    2
                </label>
                <label>
                    <input type="radio" name="rating" value="3" />
                    3
                </label>
                <label>
                    <input type="radio" name="rating" value="4" />
                    4 
                </label>
                <label>
                    <input type="radio" name="rating" value="5" />
                    5 
                </label>
             </p>
             <p>
                <label for="comments">
                    Comments:
                </label>
                <br />
                <textarea rows="4" cols="40" id="comments">
                </textarea>
            </p>
            <label>
                <input type="checkbox" name="subscribe" checked="checked" />
                Sign me up for email updates
            </label>
            <br />
            <input type="submit" name="submit" value="Submit review" />
           </fieldset>
   </form>
        {% for course in courses %} 
            <h4>
                {{ course }}
            </h4>
        {% endfor %}
    </div>
{% endblock content %}